var SETTINGS = {
  locale : 'en',
  home : {
        lat: ,
        lng: 
    },
    work : {
        lat: ,
        lng: 
  }
	credentials : {
    /*
     * Id of the map style - you should not need to change this
     */
    mapboxId: 'instantnavi.kggpbnd3',

    /*
     * ffwdme.js uses the open source routing service GraphHopper (https://graphhopper.com/#directions-api)
     * for the route calculation.
     * They are pretty awesome and provide us with a free demo API key to try things out.
     * However, please be fair. Once your project gets more serious you should get in touch at
     * https://graphhopper.com/#directions-api and obtain your own API key.
     */
    graphHopper: 'place your API key here'
	}
};