.map {
	font-family: "Tipperary", Arial, Helvetica, sans-serif;
	text-align: left;
	background: #555;
	font-size: 1.8em;
}

.remove-route{
	margin-right:0.2em;

	}

.remove-route i{
    padding: 0.1em;
}	